body{
  background-image: url("https://i.redd.it/zone-5-new-standoff-2-map-v0-dvn8h79x68v81.jpg?width=1920&format=pjpg&auto=webp&s=658932dc33a25ea1715803cbb9e99f4f738c839f");;
  background-attachment: fixed;
  color: White;
  background-size: cover;
}
